// app global css in SCSS form

body {
    font-family: 'Poppins', sans-serif;
}

.textoNoItems{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: $secondary;
}

/* Perfil */
.textoTituloPerfil{
    text-align: start;
    font-size: 1.2rem;
    font-weight: bold;
    color: $primary;
}

.textoPerfil {
    text-align: start;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.textoBoton{
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
}

.textoTituloPosteo{
    font-weight: bold;
}

.textoComillas{
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.textoComentario{
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    color: #FFF;
}

.textoTituloTarjeta{
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}

.separadorFormulario{
    border-top-style: solid;
    border-width: 1px;
    border-color: $secondary;
}

div{
    text-align: start;
    font-size: 1rem;
    overflow: hidden;
}

titulo{
    font-weight: bold;
    text-transform: uppercase;
}