// app global css in SCSS form

.textoBoton{
    text-align: center;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.textoTituloPosteo{
    font-weight: bold;
}

.textoComillas{
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.textoComentario{
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    color: #FFF;
}

.textoTituloTarjeta{
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}

div{
    text-align: start;
    font-size: 0.9rem;
    overflow: hidden;
}